In [1]:
#importing libraries

import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("../data/suicide_rate.csv")

In [3]:
df1=pd.read_csv('../data/prevalence-of-depression-by-age.csv')

In [4]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [5]:
df1.head()

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: 10 to 14 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 15 to 19 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 25 to 29 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 30 to 34 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 15-49 years (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 50-69 years (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 70+ years (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,1.594676,3.455708,4.417802,5.175856,5.799034,3.218871,4.939766,5.917752,5.202803,4.071831
1,Afghanistan,AFG,1991,1.588356,3.451880,4.433524,5.176729,5.814828,3.203468,4.902682,5.927093,5.192849,4.079531
2,Afghanistan,AFG,1992,1.577980,3.434982,4.453689,5.160249,5.829745,3.156559,4.837097,5.945656,5.176872,4.088358
3,Afghanistan,AFG,1993,1.577201,3.420210,4.464517,5.148767,5.853060,3.120655,4.813657,5.966915,5.167355,4.096190
4,Afghanistan,AFG,1994,1.570846,3.425222,4.462960,5.148227,5.852851,3.082179,4.839340,5.975907,5.157549,4.099582

In [6]:
df1.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Depressive disorders - Sex: Both - Age: 10 to 14 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 15 to 19 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 25 to 29 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 30 to 34 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 15-49 years (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 50-69 years (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 70+ years (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)'],
      dtype='object')

In [7]:
#df2=df1.melt(['Entity','Year'])

In [8]:
#df2.loc[df2['Entity']=='Afghanistan']

In [9]:
#df2.to_csv('afg.csv')

In [10]:
df2=df1.melt(['Entity','Year'],value_vars=['Prevalence - Depressive disorders - Sex: Both - Age: 10 to 14 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 15 to 19 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 25 to 29 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 30 to 34 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 15-49 years (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 50-69 years (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 70+ years (Percent)'])

In [11]:
#df.groupby(['country','sex','age']).agg{''}

In [12]:
df2.head()

,Entity,Year,variable,value
0,Afghanistan,1990,Prevalence - Depressive disorders - Sex: Both ...,1.594676
1,Afghanistan,1991,Prevalence - Depressive disorders - Sex: Both ...,1.588356
2,Afghanistan,1992,Prevalence - Depressive disorders - Sex: Both ...,1.577980
3,Afghanistan,1993,Prevalence - Depressive disorders - Sex: Both ...,1.577201
4,Afghanistan,1994,Prevalence - Depressive disorders - Sex: Both ...,1.570846

In [13]:
df2.columns

Index(['Entity', 'Year', 'variable', 'value'], dtype='object')

In [14]:
#df2.loc[df2['variable'].str.contains(r'Age: 10 to 14')] = '15-24 years'

#df2.head()

In [39]:
#df2['variable'].str.replace('Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)','15-24 years')
                               # .str.replace('Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)','15-24 years'))

0        Prevalence - Depressive disorders - Sex: Both ...
1        Prevalence - Depressive disorders - Sex: Both ...
2        Prevalence - Depressive disorders - Sex: Both ...
3        Prevalence - Depressive disorders - Sex: Both ...
4        Prevalence - Depressive disorders - Sex: Both ...
                               ...
58207    Prevalence - Depressive disorders - Sex: Both ...
58208    Prevalence - Depressive disorders - Sex: Both ...
58209    Prevalence - Depressive disorders - Sex: Both ...
58210    Prevalence - Depressive disorders - Sex: Both ...
58211    Prevalence - Depressive disorders - Sex: Both ...
Name: variable, Length: 58212, dtype: object

In [41]:
#df2['variable'].str.replace('10-14','15-24 years').str.replace(' ', '')

0        Prevalence - Depressive disorders - Sex: Both ...
1        Prevalence - Depressive disorders - Sex: Both ...
2        Prevalence - Depressive disorders - Sex: Both ...
3        Prevalence - Depressive disorders - Sex: Both ...
4        Prevalence - Depressive disorders - Sex: Both ...
                               ...
58207    Prevalence - Depressive disorders - Sex: Both ...
58208    Prevalence - Depressive disorders - Sex: Both ...
58209    Prevalence - Depressive disorders - Sex: Both ...
58210    Prevalence - Depressive disorders - Sex: Both ...
58211    Prevalence - Depressive disorders - Sex: Both ...
Name: variable, Length: 58212, dtype: object

In [55]:
df2['variable']=df2['variable'].str.replace(' ','').str.replace(r'\W','')

In [56]:
df2['variable'].value_counts()

PrevalenceDepressivedisordersSexBothAgeAllAgesPercent      6468
PrevalenceDepressivedisordersSexBothAge15to19Percent       6468
PrevalenceDepressivedisordersSexBothAge70yearsPercent      6468
PrevalenceDepressivedisordersSexBothAge25to29Percent       6468
PrevalenceDepressivedisordersSexBothAge20to24Percent       6468
PrevalenceDepressivedisordersSexBothAge5069yearsPercent    6468
PrevalenceDepressivedisordersSexBothAge10to14Percent       6468
PrevalenceDepressivedisordersSexBothAge30to34Percent       6468
PrevalenceDepressivedisordersSexBothAge1549yearsPercent    6468
Name: variable, dtype: int64

In [64]:
df2['variable']=(df2['variable'].str.replace("PrevalenceDepressivedisordersSexBothAge70yearsPercent","35+ years" )
                                .str.replace("PrevalenceDepressivedisordersSexBothAge15to19Percent","15-24 years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge25to29Percent","25-34 years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge20to24Percent","15-24 years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge5069yearsPercent","35+ years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge10to14Percent", "14- years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge30to34Percent", "25-34 years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge1549yearsPercent","35+ years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAgeAllAgesPercent", "All ages"))

In [65]:
df2["variable"].value_counts()

35+ years      19404
25-34 years    12936
15-24 years    12936
14- years       6468
All ages        6468
Name: variable, dtype: int64

In [69]:
df2a=df2.groupby(['Entity','Year','variable']).agg({'value':'mean'})

df2a

                                 value
Entity      Year variable
Afghanistan 1990 14- years    1.594676
                 15-24 years  3.936755
                 25-34 years  5.487445
                 35+ years    5.353440
                 All ages     3.218871
...                                ...
Zimbabwe    2017 14- years    1.073118
                 15-24 years  2.651559
                 25-34 years  3.205170
                 35+ years    5.509123
                 All ages     2.415746

[32340 rows x 1 columns]

In [58]:
df2['variable'].value_counts()

PrevalenceDepressivedisordersSexBothAgeAllAgesPercent      6468
PrevalenceDepressivedisordersSexBothAge70yearsPercent      6468
PrevalenceDepressivedisordersSexBothAge25to29Percent       6468
15-24 years                                                6468
PrevalenceDepressivedisordersSexBothAge20to24Percent       6468
PrevalenceDepressivedisordersSexBothAge5069yearsPercent    6468
PrevalenceDepressivedisordersSexBothAge10to14Percent       6468
PrevalenceDepressivedisordersSexBothAge30to34Percent       6468
PrevalenceDepressivedisordersSexBothAge1549yearsPercent    6468
Name: variable, dtype: int64

In [37]:
#df2.loc[df2['Y']==

,Entity,Year,variable,value
0,Afghanistan,1990,Prevalence - Depressive disorders - Sex: Both ...,1.594676
1,Afghanistan,1991,Prevalence - Depressive disorders - Sex: Both ...,1.588356
2,Afghanistan,1992,Prevalence - Depressive disorders - Sex: Both ...,1.577980
3,Afghanistan,1993,Prevalence - Depressive disorders - Sex: Both ...,1.577201
4,Afghanistan,1994,Prevalence - Depressive disorders - Sex: Both ...,1.570846
...,...,...,...,...
58207,Zimbabwe,2013,Prevalence - Depressive disorders - Sex: Both ...,7.443744
58208,Zimbabwe,2014,Prevalence - Depressive disorders - Sex: Both ...,7.457945
58209,Zimbabwe,2015,Prevalence - Depressive disorders - Sex: Both ...,7.469626
58210,Zimbabwe,2016,Prevalence - Depressive disorders - Sex: Both ...,7.481952
58211,Zimbabwe,2017,Prevalence - Depressive disorders - Sex: Both ...,7.503119

In [42]:
df2['variable'].value_counts()

Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)       6468
Prevalence - Depressive disorders - Sex: Both - Age: 15 to 19 (Percent)       6468
Prevalence - Depressive disorders - Sex: Both - Age: 50-69 years (Percent)    6468
Prevalence - Depressive disorders - Sex: Both - Age: 10 to 14 (Percent)       6468
Prevalence - Depressive disorders - Sex: Both - Age: 15-49 years (Percent)    6468
Prevalence - Depressive disorders - Sex: Both - Age: 30 to 34 (Percent)       6468
Prevalence - Depressive disorders - Sex: Both - Age: 70+ years (Percent)      6468
Prevalence - Depressive disorders - Sex: Both - Age: 25 to 29 (Percent)       6468
Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Percent)       6468
Name: variable, dtype: int64