In [1]:
#importing libraries

import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("../data/suicide_rate.csv")

In [3]:
df1=pd.read_csv('../data/prevalence-of-depression-by-age.csv')

In [4]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [5]:
df['age'].value_counts()

df['age']=df['age'].str.replace(' ','').str.replace(r'\W','')

In [6]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,1524years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,3554years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,1524years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,2534years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,3554years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,514years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,514years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,5574years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [7]:
df['age']=(df['age'].str.replace("75years","35+ years")
                    .str.replace("2534years","25-34 years")
                    .str.replace("3554years","35+ years")
                    .str.replace("1524years","15-24 years")
                    .str.replace("5574years","35+ years")
                    .str.replace("514years","14- years"))

In [41]:
dfa=df.groupby(['country','year','age'], as_index=False).agg({'suicides/100k pop':'mean'})

In [42]:
dfa

         country  year          age  suicides/100k pop
0        Albania  1987    14- years           0.000000
1        Albania  1987  15-24 years           5.770000
2        Albania  1987  25-34 years           2.420000
3        Albania  1987    35+ years           2.578333
4        Albania  1988    14- years           0.000000
...          ...   ...          ...                ...
9263  Uzbekistan  2013    35+ years           6.133333
9264  Uzbekistan  2014    14- years           1.920000
9265  Uzbekistan  2014  15-24 years          11.345000
9266  Uzbekistan  2014  25-34 years           8.765000
9267  Uzbekistan  2014    35+ years           6.843333

[9268 rows x 4 columns]

In [43]:
dfa.columns

Index(['country', 'year', 'age', 'suicides/100k pop'], dtype='object')

In [10]:
df1.head()

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: 10 to 14 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 15 to 19 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 25 to 29 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 30 to 34 (Percent),Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 15-49 years (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 50-69 years (Percent),Prevalence - Depressive disorders - Sex: Both - Age: 70+ years (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,1.594676,3.455708,4.417802,5.175856,5.799034,3.218871,4.939766,5.917752,5.202803,4.071831
1,Afghanistan,AFG,1991,1.588356,3.451880,4.433524,5.176729,5.814828,3.203468,4.902682,5.927093,5.192849,4.079531
2,Afghanistan,AFG,1992,1.577980,3.434982,4.453689,5.160249,5.829745,3.156559,4.837097,5.945656,5.176872,4.088358
3,Afghanistan,AFG,1993,1.577201,3.420210,4.464517,5.148767,5.853060,3.120655,4.813657,5.966915,5.167355,4.096190
4,Afghanistan,AFG,1994,1.570846,3.425222,4.462960,5.148227,5.852851,3.082179,4.839340,5.975907,5.157549,4.099582

In [11]:
df1.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Depressive disorders - Sex: Both - Age: 10 to 14 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 15 to 19 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 25 to 29 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 30 to 34 (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 15-49 years (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 50-69 years (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: 70+ years (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)'],
      dtype='object')

In [12]:
#df2=df1.melt(['Entity','Year'])

In [13]:
#df2.loc[df2['Entity']=='Afghanistan']

In [14]:
#df2.to_csv('afg.csv')

In [15]:
df2=df1.melt(['Entity','Year'],value_vars=['Prevalence - Depressive disorders - Sex: Both - Age: 10 to 14 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 15 to 19 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 25 to 29 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 30 to 34 (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: All Ages (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 15-49 years (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 50-69 years (Percent)','Prevalence - Depressive disorders - Sex: Both - Age: 70+ years (Percent)'])

In [16]:
#df.groupby(['country','sex','age']).agg{''}

In [17]:
df2.head()

,Entity,Year,variable,value
0,Afghanistan,1990,Prevalence - Depressive disorders - Sex: Both ...,1.594676
1,Afghanistan,1991,Prevalence - Depressive disorders - Sex: Both ...,1.588356
2,Afghanistan,1992,Prevalence - Depressive disorders - Sex: Both ...,1.577980
3,Afghanistan,1993,Prevalence - Depressive disorders - Sex: Both ...,1.577201
4,Afghanistan,1994,Prevalence - Depressive disorders - Sex: Both ...,1.570846

In [18]:
df2.columns

Index(['Entity', 'Year', 'variable', 'value'], dtype='object')

In [19]:
#df2.loc[df2['variable'].str.contains(r'Age: 10 to 14')] = '15-24 years'

#df2.head()

In [20]:
#df2['variable'].str.replace('Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)','15-24 years')
                               # .str.replace('Prevalence - Depressive disorders - Sex: Both - Age: 20 to 24 (Percent)','15-24 years'))

In [21]:
#df2['variable'].str.replace('10-14','15-24 years').str.replace(' ', '')

In [22]:
df2['variable']=df2['variable'].str.replace(' ','').str.replace(r'\W','')

In [23]:
df2['variable'].value_counts()

PrevalenceDepressivedisordersSexBothAgeAllAgesPercent      6468
PrevalenceDepressivedisordersSexBothAge70yearsPercent      6468
PrevalenceDepressivedisordersSexBothAge20to24Percent       6468
PrevalenceDepressivedisordersSexBothAge15to19Percent       6468
PrevalenceDepressivedisordersSexBothAge1549yearsPercent    6468
PrevalenceDepressivedisordersSexBothAge25to29Percent       6468
PrevalenceDepressivedisordersSexBothAge30to34Percent       6468
PrevalenceDepressivedisordersSexBothAge10to14Percent       6468
PrevalenceDepressivedisordersSexBothAge5069yearsPercent    6468
Name: variable, dtype: int64

In [24]:
df2['variable']=(df2['variable'].str.replace("PrevalenceDepressivedisordersSexBothAge70yearsPercent","35+ years" )
                                .str.replace("PrevalenceDepressivedisordersSexBothAge15to19Percent","15-24 years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge25to29Percent","25-34 years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge20to24Percent","15-24 years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge5069yearsPercent","35+ years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge10to14Percent", "14- years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge30to34Percent", "25-34 years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAge1549yearsPercent","35+ years")
                                .str.replace("PrevalenceDepressivedisordersSexBothAgeAllAgesPercent", "All ages"))

In [25]:
df2["variable"].value_counts()

35+ years      19404
15-24 years    12936
25-34 years    12936
All ages        6468
14- years       6468
Name: variable, dtype: int64

In [39]:
df2a=df2.groupby(['Entity','Year','variable'], as_index=False).agg({'value':'mean'})

df2a

            Entity  Year     variable     value
0      Afghanistan  1990    14- years  1.594676
1      Afghanistan  1990  15-24 years  3.936755
2      Afghanistan  1990  25-34 years  5.487445
3      Afghanistan  1990    35+ years  5.353440
4      Afghanistan  1990     All ages  3.218871
...            ...   ...          ...       ...
32335     Zimbabwe  2017    14- years  1.073118
32336     Zimbabwe  2017  15-24 years  2.651559
32337     Zimbabwe  2017  25-34 years  3.205170
32338     Zimbabwe  2017    35+ years  5.509123
32339     Zimbabwe  2017     All ages  2.415746

[32340 rows x 4 columns]

In [40]:
df2a.columns

Index(['Entity', 'Year', 'variable', 'value'], dtype='object')

In [44]:
new_df = dfa.merge(df2a, left_on=['country','year','age'], right_on = ['Entity','Year','variable'])

In [48]:
new_df

new_df.rename(columns={"value": "depression"})

,country,year,age,suicides/100k pop,Entity,Year,variable,depression
0,Albania,1992,14- years,0.000000,Albania,1992,14- years,0.876335
1,Albania,1992,15-24 years,2.900000,Albania,1992,15-24 years,2.178477
2,Albania,1992,25-34 years,2.175000,Albania,1992,25-34 years,2.400357
3,Albania,1992,35+ years,1.308333,Albania,1992,35+ years,3.465856
4,Albania,1993,14- years,0.280000,Albania,1993,14- years,0.877473
...,...,...,...,...,...,...,...,...
7875,Uzbekistan,2013,35+ years,6.133333,Uzbekistan,2013,35+ years,4.695778
7876,Uzbekistan,2014,14- years,1.920000,Uzbekistan,2014,14- years,1.055283
7877,Uzbekistan,2014,15-24 years,11.345000,Uzbekistan,2014,15-24 years,2.888759
7878,Uzbekistan,2014,25-34 years,8.765000,Uzbekistan,2014,25-34 years,3.150176
7879,Uzbekistan,2014,35+ years,6.843333,Uzbekistan,2014,35+ years,4.704011